[Unit]
Description=Dokuz Tas Online Turnuva ASP.NET Core App
After=network.target

[Service]
WorkingDirectory=/var/www/dokuztasonline
ExecStart=/usr/bin/dotnet /var/www/dokuztasonline/DokuzTasOnlineTurnuva.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dokuztasonline
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://localhost:5000

[Install]
WantedBy=multi-user.target
